APP_PORT=50051
APP_ENV=development
DB_URL=postgres://healthcare_user:healthcare_password@localhost:5432/healthcare_db?sslmode=disable
REDIS_URL=localhost:6379
SENTRY_DSN=
JWT_SECRET=<gere-um-secret-aleatorio-de-32-caracteres>
GCP_PROJECT_ID=<seu-projeto-no-google-cloud>
GCP_LOCATION_ID=us-central1
GCP_DATASET_ID=<nome-do-dataset-healthcare>
GCP_FHIR_STORE_ID=<nome-do-fhir-store>
